<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="configBean" class="org.example.Config">
        <constructor-arg name="elementNum" value="100000" />
        <constructor-arg name="producerNum" value="20" />
        <constructor-arg name="producerPoolSize" value="7" />
        <constructor-arg name="consumerNum" value="40" />
        <constructor-arg name="consumerPoolSize" value="8" />
        <constructor-arg name="queueSize" value="100" />
    </bean>

</beans>